$white: #FFFFFF
$blueDark: #050C26
$blueLight: #575859
$blue: #3988FF
$blueBorder: #1B45DA
$progressWEB: #E41A1A
$progressUI: #DA5A12
$progressGD: #5BBB10
$progressPR: #15C1CC
$headerH: 954px
$navH: 140px
    
// font-family: 'Lato', sans-serif
// font-family: 'Montserrat', sans-serif
// font-family: 'Poppins', sans-serif

html
    scroll-behavior: smooth

body
    font-family: 'Poppins', sans-serif
    font-size: 18px
    font-weight: 500
    line-height: 29px
    color: $blueDark

*,
*::before,
*::after
    margin: 0
    padding: 0
    box-sizing: border-box

ul, ol
    list-style-type: none

img
    display: block
    width: 100%

a
    display: block
    color: inherit
    text-decoration: none 

.container
    max-width: 1140px
    margin: 0 auto

.menu__link, .nav__link, .play, .play-icon, .banner__play-text,
.card, .card__link, .card, .card__info, .card__text, i, .card__price,
.card__price-style, .card__text-style, .link, .footer__link
    transition: all .2s ease

.logo__title
    font-family: 'Lato', sans-serif
    font-weight: 900
    font-size: 25px
    line-height: 37px
    letter-spacing: 0.05em

.main__title
    font-family: 'Lato', sans-serif
    font-style: normal
    font-weight: 700
    font-size: 69px
    line-height: 83px

.box
    max-width: 815px
    margin: 0 auto
    text-align: center
    .title
        font-family: 'Lato', sans-serif
        font-weight: 700
        font-size: 69px
        line-height: 50px
        opacity: 0.05
        background: linear-gradient(180deg, #D93059 0%, rgba(217, 48, 89, 0) 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
    .subtitle
        font-family: 'Lato', sans-serif
        font-weight: 700
        font-size: 43px
        line-height: 56px
        margin-bottom: 23px
    .subtext
        font-weight: 400
        line-height: 29px
        color: $blueLight

.header
    height: 954px
    background-image: url(../img/header-bg.jpg)
    position: relative
    .header__bg
        content: ''
        max-width: 1600px
        margin: 0 auto
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-image: url(../img/main-logo.jpg)
        background-repeat: no-repeat
        background-position: right
        background-size: 45%
    .header__nav
        height: 140px
        display: flex
        align-items: center
        justify-content: space-between
        .nav__menu
            display: flex
            .menu__list
                padding: 25px
                .menu__link
                    padding: 2px
                    border-bottom: 2px solid transparent
                    &:hover
                        font-weight: 500
                        color: $blue
                        border-color: $blue
        .nav__link
            font-weight: 500
            padding: 15px 30px
            border-radius: 5px
            border: 1px solid transparent
            color: $white
            background-color: $blue
            &:hover
                border-color: $blue
                color: $blue
                background-color: $white
    .header__banner
        height: $headerH - $navH
        padding-top: 155px
        .banner__left
            max-width: 552px
            .main__title
                &-color
                    color: $blue
            .subtext
                max-width: 500px
                margin: 25px 0 35px 0
            .banner__play-link
                width: 215px
                .banner__play
                    display: flex
                    align-items: center
                    .play
                        display: flex
                        align-items: center
                        justify-content: center
                        margin-right: 25px
                        width: 70px
                        height: 70px
                        border-radius: 50%
                        background-color: $white
                        box-shadow: 0px 0px 30px #FFE6E6
                        &-icon
                            padding-left: 5px
                            color: $blueBorder
                &:hover
                    .play
                        background-color: $blueBorder
                        &-icon
                            color: $white
                    .banner__play-text
                        color: $blueBorder

.main
    padding: 50px 0 140px 0

.about
    .container
        max-width: 1600px
    .box
        max-width: 807px
        margin: 0 auto
        text-align: center
    .about__content
        max-width: 1303px
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        padding-top: 69px
        .about__img-box
            max-width: 718px
        .about__progress
            width: 448px
            margin: auto 0
            .progress__box
                margin-bottom: 46px
                &:last-of-type
                    margin-bottom: 0
                .progress-text
                    display: flex
                    font-family: 'Lato', sans-serif
                    font-weight: 500
                    font-size: 25px
                    line-height: 37px
                    margin-bottom: 20px
                    .proc
                        margin-left: auto
                        transform: translateY(10px)
                    .web-proc
                        padding-right: 70px
                        color: $progressWEB
                    .ui-proc
                        padding-right: 40px
                        color: $progressUI
                    .design-proc
                        padding-right: 100px
                        color: $progressGD
                    .pr-proc
                        padding-right: 70px
                        color: $progressPR
                .progress
                    display: block
                    width: 100%
                    height: 15px
                    border-radius: 12px
                .web
                    &::-webkit-progress-bar
                        border-radius: 12px
                        background-color: rgba(228, 26, 26, .1)
                    &::-webkit-progress-value
                        border-radius: 12px
                        background-color: $progressWEB
                .ui-ux
                    &::-webkit-progress-bar
                        border-radius: 12px
                        background-color: rgba(218, 90, 18, .1)
                    &::-webkit-progress-value
                        border-radius: 12px
                        background-color: $progressUI
                .design
                    &::-webkit-progress-bar
                        border-radius: 12px
                        background-color: rgba(91, 187, 16, .1)
                    &::-webkit-progress-value
                        border-radius: 12px
                        background-color: $progressGD
                .pr
                    &::-webkit-progress-bar
                        border-radius: 12px
                        background-color: rgba(21, 193, 204, .1)
                    &::-webkit-progress-value
                        border-radius: 12px
                        background-color: $progressPR

.features
    padding: 140px 0
    .box
        max-width: 874px
    .box__card
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        padding-top: 70px
        .card
            width: 263px
            height: 413px
            display: flex
            flex-direction: column
            align-items: center
            text-align: center
            padding: 27px 22px 0
            background-color: $white
            border-radius: 10px
            border: 1px solid rgba(5, 12, 38, 0.05)
            &:hover
                box-shadow: 0px 4px 30px rgba(153, 153, 153, 0.14)
            .card__img-bg
                width: 150px
                height: 150px
                border-radius: 50%
                display: flex
                align-items: center
                justify-content: center
                background-color: rgba(255, 96, 96, 0.1)
            .card__link
                font-size: 18px
                line-height: 29px
                padding: 10px 20px
                margin-top: 25px
                border-radius: 5px
                color: $white
                background-color: $blue
                border: 1px solid transparent
                &:hover
                    color: $blue
                    background-color: $white
                    border-color: $blue

.card__title
    font-family: 'Lato', sans-serif
    font-weight: 700
    font-size: 25px
    line-height: 38px
    margin: 30px 0 15px 0

.card__text
    font-size: 16px
    line-height: 26px
    color: $blueLight

.services
    &__container
        max-width: 1600px
        margin: 0 auto
        .services__box
            max-width: 1369px
            margin-left: auto
            display: flex
            justify-content: space-between
            .box
                width: 610px
                text-align: left
                margin: 0
    &__card
        padding-top: 66px
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        .card
            width: 360px
            height: 413px
            display: flex
            align-items: center
            justify-content: center
            margin-bottom: 60px
            background: rgba(0, 0, 0, 0.6)
            backdrop-filter: blur(104px)
            border-radius: 10px
            .card__info
                width: 280px
                height: 333px
                display: flex
                flex-direction: column
                align-items: center
                text-align: center
                padding: 62px 19px 0
                border-radius: 10px
                background-color: #F3F3F3
                .card__title
                    margin: 0
                .card__text
                    margin: 32px 0 40px 0
                .icon-box
                    width: 60px
                    height: 60px
                    display: flex
                    align-items: center
                    justify-content: center
                    border-radius: 50%
                    background-color: $white
            &:hover
                background: none
                background-image: url(../img/services-pic.jpg)
                background-repeat: no-repeat
                background-position: center
                background-size: cover
                .card__info
                    color: $white
                    background: linear-gradient(180deg, #D93059 0%, #D95B7A 100%)
                    .card__text
                        color: $white
                    i
                        color: $blue

.pricing
    padding-top: 83px
    .yearly
        display: none
    &__heading
        display: flex
        justify-content: center
        text-align: center
        .pricing__content
            .title__text
                font-weight: 500
                font-size: 20px
                line-height: 32px
                letter-spacing: 0.05em
                color: $blueLight
            .subtitle
                font-family: 'Lato', sans-serif
                font-weight: 700
                font-size: 35px
                line-height: 49px
                color: $blueDark
                margin: 22px 0 32px 0
            .content
                display: flex
                justify-content: space-between
                width: 353px
                padding: 10px
                margin-bottom: 60px
                border: 1px solid $blue
                border-radius: 5px
                .label
                    .text
                        display: block
                        cursor: pointer
                        padding: 10px 20px
                        font-size: 18px
                        line-height: 29px
                        color: $blueLight
                    .input
                        display: none
                        &:checked + .text
                            color: $white
                            background-color: $blue
                            border-radius: 5px
    &__card
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        margin-bottom: 140px
        .card
            width: 360px
            height: 613px
            display: flex
            flex-direction: column
            align-items: center
            text-align: center
            position: relative
            overflow: hidden
            border-radius: 10px
            box-shadow: 0px 4px 30px rgba(153, 153, 153, 0.14)
            .corner__box
                display: none
            &:hover
                box-shadow: none
                color: $white
                background: linear-gradient(180deg, #D9315A 0%, #F3678A 100%)
                span
                    color: $white
                .corner__box
                    width: 74px
                    height: 22px
                    display: flex
                    align-items: center
                    justify-content: center
                    position: absolute
                    top: 11px
                    left: -15px
                    transform: rotate(-45deg)
                    background-color: #11BB92
                    &-text
                        font-weight: normal
                        font-size: 9px
                        line-height: 14px
                        user-select: none
                        color: $blueDark
                    &::before
                        content: ''
                        display: block
                        width: 9px
                        height: 5px
                        position: absolute
                        left: -3px
                        bottom: -2px
                        transform: rotate(45deg)
                        background-color: #D95374
                    &::after
                        content: ''
                        display: block                    
                        width: 5px
                        height: 8px
                        position: absolute
                        right: -2px
                        bottom: -3px
                        transform: rotate(45deg)
                        background-color: #D95374
                .card__link
                    color: $white
                    background-color: $blue
            &__up
                width: 100%
                height: 129px
                display: flex
                align-items: center
                justify-content: center
                border-bottom: 1px solid rgba(153, 153, 153, 0.14)
                margin-bottom: 38px
                .card__title
                    margin: 0
            &__price
                font-size: 18px
                line-height: 29px
                color: $blueDark
                &-style
                    font-family: 'Lato', sans-serif
                    font-weight: 500
                    font-size: 35px
                    line-height: 49px
                    color: $blueDark
            &__text-style
                font-size: 18px
                font-weight: normal
                line-height: 29px
                margin: 15px 0 40px 0
                color: $blueLight
            &__text
                font-weight: 500
                font-size: 20px
                line-height: 32px
                margin-bottom: 14px
                color: $blueLight
                &:last-of-type
                    margin-bottom: 29px
            &__link
                font-family: 'Lato', sans-serif
                font-weight: 700
                font-size: 25px
                line-height: 37px
                padding: 15px 30px
                border-radius: 5px
                color: $blue
                border: 1px solid $blue

.review
    .box
        max-width: 725px
    &__content
        height: 374px
        display: flex
        flex-direction: column
        margin-top: 70px
        padding: 46px 0
        border-radius: 10px
        border: 1px solid rgba(5, 12, 38, .1)
        #speech__swap2, #speech__swap3
            display: none
        .content__up
            display: flex
            justify-content: space-around
            flex-wrap: wrap
            .speech
                max-width: 418px
                &__text
                    display: flex
                    .speech__img
                        width: 42px
                        height: 35px
                        opacity: .1
                        img
                            width: inherit
                    .speech__text-italic
                        padding: 14px 0 30px 5px
                        &-text
                            font-style: italic
                            font-weight: 500
                            font-size: 18px
                            line-height: 29px
                &__author
                    display: flex
                    align-items: center
                    .author__img
                        img
                            width: 90px
                            height: 90px
                            border-radius: 50%
                    .author__info
                        margin-left: 30px
                        .author__name
                            display: block
                            font-weight: 500
                            font-size: 20px
                            line-height: 32px
                        .author__work
                            display: block
                            font-weight: normal
                            font-size: 16px
                            line-height: 26px
                            color: $blueLight
        .content__bottom
            display: flex
            justify-content: center
            margin-top: auto
            .bottom__box
                width: 110px
                display: flex
                justify-content: space-between
                .bottom__label
                    .bottom__input
                        display: none
                        &:checked + .check
                            width: 40px
                            background-color: rgba(57, 136, 255, 1)
                    .check
                        display: block
                        width: 20px
                        height: 11px
                        cursor: pointer
                        border-radius: 20px
                        background-color: rgba(57, 136, 255, .1)

.footer
    color: $white
    .container
            height: 100%
            display: flex
            flex-direction: column
    &__contacts
        height: 393px
        background-image: url(../img/footer-bg.jpg)
        background-position: center
        background-repeat: no-repeat
        background-size: cover
        .footer__form
            height: 100%
            display: flex
            align-items: center
            justify-content: space-between
            .form__left
                max-width: 413px
                .address
                    font-family: 'Lato', sans-serif
                    font-weight: 700
                    font-size: 35px
                    line-height: 49px
                    margin-bottom: 25px
                .contacts
                    display: block
                    font-weight: 500
                    font-size: 18px
                    line-height: 29px
                    margin-bottom: 10px
                    &:last-of-type
                        margin-bottom: 0
                .problem-solution
                    font-weight: normal
                    font-size: 16px
                    line-height: 26px
                    margin-top: 30px
            .form__right
                width: 555px
                position: relative
                .textarea
                    font-family: 'Lato', sans-serif
                    font-weight: 400
                    font-size: 25px
                    line-height: 37px
                    border-radius: 5px
                    border: none
                    box-shadow: 0px 1px 20px rgba(186, 186, 186, 0.15)
                    color: $blueLight
                    background-color: $white
                .footer__textarea
                    width: 100%
                    height: 142px
                    resize: none
                    padding: 14px 25px
                    margin-bottom: 40px
                .footer__input
                    width: 100%
                    height: 68px
                    padding: 14px 140px 14px 25px
                .footer__button
                    height: 68px
                    cursor: pointer
                    position: absolute
                    bottom: 0
                    right: 0
                    border-radius: 0 5px 5px 0
                    padding: 0 30px
                    box-shadow: none
                    color: $white
                    background-color: $blue
    &__nav
        height: 427px
        padding-top: 75px
        background-color: $blueDark
        .navigation
            display: flex
            justify-content: space-between
            .footer__box
                display: flex
                flex-direction: column
                align-items: flex-start
                .footer__title
                    margin-bottom: 20px
                    font-weight: 500
                    font-size: 20px
                    line-height: 32px
                .footer__email
                    font-family: 'Montserrat', sans-serif
                    font-weight: 500
                    font-size: 18px
                    line-height: 29px
                    opacity: .7
                .footer__text
                    max-width: 318px
                    font-weight: normal
                    opacity: .7
                    margin-top: 30px
                .footer__list
                    .link
                        font-weight: normal
                        font-size: 16px
                        line-height: 26px
                        opacity: .7
                        padding: 5px 0
                        &:hover
                            opacity: 1
                .social__box
                    display: flex
                    margin: 10px 0 30px 0
                    .social__link
                        margin-right: 25px
                        .social__img
                            width: inherit
                .footer__link
                    font-weight: 500
                    font-size: 20px
                    line-height: 32px
                    padding: 15px 30px
                    border-radius: 5px
                    border: 1px solid transparent
                    background-color: $blue
                    &:hover
                        border: 1px solid $blue
                        color: $blue
                        background-color: $white
        .footer__copy
            display: flex
            align-items: center
            justify-content: center
            margin-top: auto
            border-top: 1px solid rgba(255, 255, 255, .1)
            .copyright
                font-family: 'Montserrat', sans-serif
                font-weight: normal
                font-size: 18px
                line-height: 29px
                padding: 30px 0
                color: $blueLight

@media (max-width: 1160px)
    .container
        padding: 0 10px