*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  color: #050C26;
}

ul, ol {
  list-style-type: none;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.menu__link, .nav__link, .play, .play-icon, .banner__play-text {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.logo__title {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 25px;
  line-height: 37px;
  letter-spacing: 0.05em;
}

.main__title {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 69px;
  line-height: 83px;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 43px;
  line-height: 56px;
}

.subtext {
  font-weight: 400;
  line-height: 29px;
  color: #575859;
}

.header {
  height: 954px;
  background-image: url(../img/header-bg.jpg);
  position: relative;
}

.header::after {
  content: '';
  max-width: 1600px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url(../img/main-logo.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 45%;
}

.header .header__nav {
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__nav .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__nav .nav__menu .menu__list {
  padding: 25px;
}

.header .header__nav .nav__menu .menu__list .menu__link {
  padding: 2px;
  border-bottom: 2px solid transparent;
}

.header .header__nav .nav__menu .menu__list .menu__link:hover {
  font-weight: 500;
  color: #3988FF;
  border-color: #3988FF;
}

.header .header__nav .nav__link {
  font-weight: 500;
  padding: 15px 30px;
  border-radius: 5px;
  border: 1px solid transparent;
  color: #FFFFFF;
  background-color: #3988FF;
}

.header .header__nav .nav__link:hover {
  border-color: #3988FF;
  color: #3988FF;
  background-color: #FFFFFF;
}

.header .header__banner {
  height: 814px;
  padding-top: 155px;
}

.header .header__banner .banner__left {
  max-width: 552px;
}

.header .header__banner .banner__left .main__title-color {
  color: #3988FF;
}

.header .header__banner .banner__left .subtext {
  max-width: 500px;
  margin: 25px 0 35px 0;
}

.header .header__banner .banner__left .banner__play-link {
  width: 215px;
}

.header .header__banner .banner__left .banner__play-link .banner__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__banner .banner__left .banner__play-link .banner__play .play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 25px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 30px #FFE6E6;
          box-shadow: 0px 0px 30px #FFE6E6;
}

.header .header__banner .banner__left .banner__play-link .banner__play .play-icon {
  padding-left: 5px;
  color: #1B45DA;
}

.header .header__banner .banner__left .banner__play-link:hover .play {
  background-color: #1B45DA;
}

.header .header__banner .banner__left .banner__play-link:hover .play-icon {
  color: #FFFFFF;
}

.header .header__banner .banner__left .banner__play-link:hover .banner__play-text {
  color: #1B45DA;
}
/*# sourceMappingURL=style.css.map */