$white: #FFFFFF
$blueDark: #050C26
$blueLight: #575859
$blue: #3988FF
$blueBorder: #1B45DA
$colorFooter: #050C26
$progressWEB: #E41A1A
$progressUI: #DA5A12
$progressGD: #5BBB10
$progressPR: #15C1CC
    
*,
*::before,
*::after
    margin: 0
    padding: 0
    box-sizing: border-box

// font-family: 'Lato', sans-serif
// font-family: 'Montserrat', sans-serif
// font-family: 'Poppins', sans-serif

body
    font-family: 'Poppins', sans-serif
    font-size: 18px
    font-weight: 500
    line-height: 29px
    color: $blueDark

h1 //main title
    font-family: 'Lato', sans-serif
    font-style: normal
    font-weight: 700
    font-size: 69px
    line-height: 83px

h2 //section title
    font-family: 'Lato', sans-serif
    font-weight: 700
    font-size: 43px
    line-height: 56px

h3 // logo title
    font-family: 'Lato', sans-serif
    font-weight: 900
    font-size: 25px
    line-height: 37px
    letter-spacing: 0.05em;

p // subtext section and main title
    line-height: 29px
    color: $blueLight
